doctype 5
html
  head
    title Welcome
  body
  h1 hola mundo
  if(authenticaded)
    p Yeah! 
  else
    p Nein
      form(action="/login", method="POST")
        label User 
        input(type="text", name="user")
        label Pass 
        input(type="password", name="pass")
        button Submit
